/* 
  GENERAL 
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 20px auto;
  font-family: HelveticaNow,Helvetica,sans-serif;
}



/* 
  MAIN 
*/
.product{
  float: left;
  width: calc(100% / 3 - 15px);
  margin: 7.5px;
  margin-bottom: 20px;
  cursor: pointer;
}


/* PARTE SUPERIORE SINGOLO PRODOTTO  */
.product .product-top{
  position: relative; 
}

.product .product-top img {
  width: 100%;
}


.product .img-hover{
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  
}

.product:hover .img-hover{
  display: block;
}

.product .product-top .label{
  position: absolute;
  bottom: 25px;
  left: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  
}

.product-top .label .discount, .product-top .label .eco{
  padding: 5px;
}

.product-top .discount{
  background-color: #EA0036;
}

.product-top .eco{
  background-color: #00865B;
}

.product-top .heart{
  position: absolute;
  top: 15px;
  right: 0;
  padding: 7px 13px;
  background-color: white;
  font-size: 21px;
}



/* PARTE INFERIORE SINGOLO PRODOTTO  */
.product-bottom span{
  font-size: .7rem;
  font-weight: 100;
}

.product-bottom p{
  text-transform: uppercase;
  font-size: .8rem;
}

.product-bottom .price{
  color: #FF2900;
  font-weight: 600;
}

.product-bottom .old-price{
  text-decoration: line-through;
}